# Dependency directories
node_modules/

# Optional ENV variables
.env

# Production build directory
build/

# macOS system files
.DS_Store

# JetBrains IDEs
.idea/
*.iml

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
